body{
    font-size: 16px;
    font-family: "Arial";
}
table{
    border-collapse: collapse;
}
td{
    padding: 6px 5px;
    font-size: 15px;
}
.h1{
    font-size: 21px;
    font-weight: bold;
}
.h2{
    font-size: 18px;
    font-weight: bold;
}
.tabla1{
    margin-bottom: 20px;
}
.tabla2 {
    margin-bottom: 20px;
}
.tabla3{
    margin-top: 15px;
}
.tabla3 td{
    border: 1px solid #000;
}
.tabla3 .cancelado{
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 1px dotted #000;
    width: 200px;
}
.emisor{
    color: red;
}
.linea{
    border-bottom: 1px dotted #000;
}
.border{
    border: 1px solid #000;
}
.fondo{
    background-color: #dfdfdf;
}
.fisico{
    color: #fff;
}
.fisico td{
    color: #fff;
}
.fisico .border{
    border: 1px solid #fff;
}
.fisico .tabla3 td{
    border: 1px solid #fff;
}
.fisico .linea{
    border-bottom: 1px dotted #fff;
}
.fisico .emisor{
    color: #fff;
}
.fisico .tabla3 .cancelado{
    border-top: 1px dotted #fff;
}
.fisico .text{
    color: #000;
}
.fisico .fondo{
    background-color: #fff;
}
